extends layout.pug

block content
  main.create-todo
    h2.form-title New ToDo
    
    if success
      p.success Your task was sucessfully added!

    if error
      p.error Sorry, Your ToDo cannot be empty!

    form(method="POST")
      input(class="todo-input" name="title" placeholder="Title")
      
      textarea(class="todo-input" name="body" rows="10" placeholder="Description")
      button.create-todo-btn Create todo