extends layout.pug

block content
  main.intro
    p Welcome to the ToDo App
    p Create, Read and Delete your daily tasks for free!
    p Created by 00008870
    a(href="todos/create-todo" class="create-todo-btn") Create todo